* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  background: #ddd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  background: rgb(9, 62, 71);
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  box-shadow: 2px 2px 5px #aaa;
  display: grid;
  grid-template-columns: 1fr max-content;
}

.header > h2 {
  color: #fff;
}

.header > button {
  background: none;
  border-style: none;
}
.header > button:hover {
  filter: drop-shadow(0px 0px 2px #aaa);
}

.header > button > svg {
  fill: #fff;
}

#books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: start;
  height: fit-content;
  gap: 2rem;
  padding: 2rem;
}

.card {
  border: 1px solid gray;
  border-radius: 0.5em;
  padding: 1em;
  display: grid;
  gap: 0.5em;
  background: #fff;
  box-shadow: 2px 2px 5px #aaa;
}

.remove-button {
  justify-self: end;
  padding: 0.5em 1em;
}

.form-wrapper {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  display: grid;
  align-items: center;
  justify-content: center;
}

#add-book {
  height: max-content;
  width: max-content;
  display: grid;
  gap: 1em;
  align-content: center;
  justify-content: center;
  padding: 2em;
  background: #fff;
  border: 2px solid #0077ff;
  border-radius: 8px;
  box-shadow: 4px 4px 8px #aaa;
}

.hidden {
  display: none;
}

#new-book-read > ul{
  display: grid;
  justify-items: start;
}

fieldset {
  padding: 1em;
}

fieldset > .form-inputs {
  display: grid;
  gap: 1em;
}

.input-group > label {
  display: flex;
  gap: 1em;
} 

input[type="checkbox"] {
  appearance: none;
  height: 1em;
  width: 1em;
  border: 1px solid gray;
  border-radius: 2px;
  position: relative;
  bottom: -0.2em;
}
input[type="checkbox"]:hover {
  border-color: #000;
}
input[type="checkbox"]:checked{
  box-shadow: inset 0px 0px 3px 3px #0077ff;
}

ul {
  list-style: none;
}

input {
  width: 300px;
  padding: 0.5em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.buttons > button {
  width: max-content;
  padding: 1em;
}